[Unit]
Description=Kalliope
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/bin/bash -c "cd /home/kalliope/Kalliope; npm run start"
User=kalliope

[Install]
WantedBy=multi-user.target
